:root {
	--bgBlack: #1F1E1F;
	--bgGray: #3A393A;
	--darkGray: #4C4C4C;
	--lightGray: #7A797A;
}

/* Body reset */
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;

	background: var(--bgBlack);
	color: white;
	font-family: sans-serif;
}

#nav {
	display: flex;

	background: var(--bgGray);
}
#nav > span {
	margin: 3px;

	background: var(--darkGray);
	border-radius: 2.5px;
	font-size: 10pt;
	text-align: center;

	flex-grow: 1;
}
#nav > span.selected {
	background: var(--bgBlack);
}
#nav > span:hover {
	background: var(--lightGray);
}
#nav > span:active {
	background: var(--bgBlack);
}
#nav > span:not(:last-child) {
	margin-right: 0;
}

#container {
	background: var(--bgBlack);
}
#container > div {
	display: flex;
}
#container > div > span {
	padding: 3px;

	border: 1px solid #585758;
}
#container > div > span:last-child {
	flex-grow: 1;
}
#container > div:first-child > span { border-top: none; }
/* #container > div:last-child > span { border-bottom: none; } */
#container > div > span:first-child { border-left: none; }
#container > div > span:last-child { border-right: none; }

.btn {
	border-radius: 2.5px;

	background: var(--lightGray);
}
.btn.btn-lg {
	padding: 10px 20px;
}
.btn:hover {
	background: var(--darkGray);
}
.btn:active {
	background: var(--bgGray);
}

#editButton {
	bottom: 20px;
	position: absolute;
	right: 20px;
}

#editMenu {
	display: flex;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;

	background: var(--bgGray);

	flex-direction: column;
}
#editMenu.hidden {
	display: none;
}
#editMenu #bottomToolbar {
	display: flex;
	margin-bottom: 20px;

	justify-content: space-around;
}